<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your room</title>
  </head>
  <body>
    <h1>Your room</h1>
    Share with friends:
    <input type="text" size="65" readonly value="<%= roomUrl %>" />
    <hr />
    <form action="<%= roomUrl %>/changeName" method="post">
      <label for="playerName">Your name:</label>
      <input
        type="text"
        id="playerName"
        name="playerName"
        size="65"
        value="<%= player.name %>"
      />
      <input type="submit" value="Update" />
    </form>
    <hr />
    <%= player %>
    <hr />
    <div>
      <h2>Game settings</h2>
      <p>Category:</p>
      <p>Time:</p>
    </div>
    <hr />
    <div>
      <h2>Players</h2>
      <ol>
        <% players.forEach(player => { %>
        <li><%= player.name %></li>
        <% }); %>
      </ol>
    </div>
    <hr />
    <a href="<%= roomUrl %>/start"><h2>Start</h2></a>
    <hr />
    <a href="/">Back</a>
  </body>
</html>
